In [55]:
import numpy as np
import pandas as pd

In [56]:
df = pd.read_csv('/content/akc-data-latest.csv')
df.rename(columns={'Unnamed: 0': 'Breed'}, inplace=True)
df.head()

,Breed,description,temperament,popularity,min_height,max_height,min_weight,max_weight,min_expectancy,max_expectancy,...,grooming_frequency_value,grooming_frequency_category,shedding_value,shedding_category,energy_level_value,energy_level_category,trainability_value,trainability_category,demeanor_value,demeanor_category
0,Affenpinscher,The Affen’s apish look has been described many...,"Confident, Famously Funny, Fearless",148,22.86,29.21,3.175147,4.535924,12.0,15.0,...,0.6,2-3 Times a Week Brushing,0.6,Seasonal,0.6,Regular Exercise,0.8,Easy Training,1.0,Outgoing
1,Afghan Hound,"The Afghan Hound is an ancient breed, his whol...","Dignified, Profoundly Loyal, Aristocratic",113,63.50,68.58,22.679619,27.215542,12.0,15.0,...,0.8,Daily Brushing,0.2,Infrequent,0.8,Energetic,0.2,May be Stubborn,0.2,Aloof/Wary
2,Airedale Terrier,The Airedale Terrier is the largest of all ter...,"Friendly, Clever, Courageous",60,58.42,58.42,22.679619,31.751466,11.0,14.0,...,0.6,2-3 Times a Week Brushing,0.4,Occasional,0.6,Regular Exercise,1.0,Eager to Please,0.8,Friendly
3,Akita,"Akitas are burly, heavy-boned spitz-type dogs ...","Courageous, Dignified, Profoundly Loyal",47,60.96,71.12,31.751466,58.967008,10.0,13.0,...,0.8,Daily Brushing,0.6,Seasonal,0.8,Energetic,1.0,Eager to Please,0.6,Alert/Responsive
4,Alaskan Malamute,The Alaskan Malamute stands 23 to 25 inches at...,"Affectionate, Loyal, Playful",58,58.42,63.50,34.019428,38.555351,10.0,14.0,...,0.6,2-3 Times a Week Brushing,0.6,Seasonal,0.8,Energetic,0.4,Independent,0.8,Friendly

In [57]:
unique_values = set(df['group'].unique())
print(unique_values)
new_columns = [unique_values]

for col in unique_values:
    df[col] = 0

{'Toy Group', 'Sporting Group', 'Hound Group', 'Miscellaneous Class', 'Working Group', 'Terrier Group', 'Herding Group', 'Foundation Stock Service', 'Non-Sporting Group'}

In [58]:
df.head()

,Breed,description,temperament,popularity,min_height,max_height,min_weight,max_weight,min_expectancy,max_expectancy,...,demeanor_category,Toy Group,Sporting Group,Hound Group,Miscellaneous Class,Working Group,Terrier Group,Herding Group,Foundation Stock Service,Non-Sporting Group
0,Affenpinscher,The Affen’s apish look has been described many...,"Confident, Famously Funny, Fearless",148,22.86,29.21,3.175147,4.535924,12.0,15.0,...,Outgoing,0,0,0,0,0,0,0,0,0
1,Afghan Hound,"The Afghan Hound is an ancient breed, his whol...","Dignified, Profoundly Loyal, Aristocratic",113,63.50,68.58,22.679619,27.215542,12.0,15.0,...,Aloof/Wary,0,0,0,0,0,0,0,0,0
2,Airedale Terrier,The Airedale Terrier is the largest of all ter...,"Friendly, Clever, Courageous",60,58.42,58.42,22.679619,31.751466,11.0,14.0,...,Friendly,0,0,0,0,0,0,0,0,0
3,Akita,"Akitas are burly, heavy-boned spitz-type dogs ...","Courageous, Dignified, Profoundly Loyal",47,60.96,71.12,31.751466,58.967008,10.0,13.0,...,Alert/Responsive,0,0,0,0,0,0,0,0,0
4,Alaskan Malamute,The Alaskan Malamute stands 23 to 25 inches at...,"Affectionate, Loyal, Playful",58,58.42,63.50,34.019428,38.555351,10.0,14.0,...,Friendly,0,0,0,0,0,0,0,0,0

In [59]:
for index, row in df.iterrows():
  group = row['group']
  df.loc[index, group] = 1

df.head()

,Breed,description,temperament,popularity,min_height,max_height,min_weight,max_weight,min_expectancy,max_expectancy,...,demeanor_category,Toy Group,Sporting Group,Hound Group,Miscellaneous Class,Working Group,Terrier Group,Herding Group,Foundation Stock Service,Non-Sporting Group
0,Affenpinscher,The Affen’s apish look has been described many...,"Confident, Famously Funny, Fearless",148,22.86,29.21,3.175147,4.535924,12.0,15.0,...,Outgoing,1,0,0,0,0,0,0,0,0
1,Afghan Hound,"The Afghan Hound is an ancient breed, his whol...","Dignified, Profoundly Loyal, Aristocratic",113,63.50,68.58,22.679619,27.215542,12.0,15.0,...,Aloof/Wary,0,0,1,0,0,0,0,0,0
2,Airedale Terrier,The Airedale Terrier is the largest of all ter...,"Friendly, Clever, Courageous",60,58.42,58.42,22.679619,31.751466,11.0,14.0,...,Friendly,0,0,0,0,0,1,0,0,0
3,Akita,"Akitas are burly, heavy-boned spitz-type dogs ...","Courageous, Dignified, Profoundly Loyal",47,60.96,71.12,31.751466,58.967008,10.0,13.0,...,Alert/Responsive,0,0,0,0,1,0,0,0,0
4,Alaskan Malamute,The Alaskan Malamute stands 23 to 25 inches at...,"Affectionate, Loyal, Playful",58,58.42,63.50,34.019428,38.555351,10.0,14.0,...,Friendly,0,0,0,0,1,0,0,0,0

In [60]:
column_names = df.columns.tolist()
print(column_names)

['Breed', 'description', 'temperament', 'popularity', 'min_height', 'max_height', 'min_weight', 'max_weight', 'min_expectancy', 'max_expectancy', 'group', 'grooming_frequency_value', 'grooming_frequency_category', 'shedding_value', 'shedding_category', 'energy_level_value', 'energy_level_category', 'trainability_value', 'trainability_category', 'demeanor_value', 'demeanor_category', 'Toy Group', 'Sporting Group', 'Hound Group', 'Miscellaneous Class', 'Working Group', 'Terrier Group', 'Herding Group', 'Foundation Stock Service', 'Non-Sporting Group']

In [61]:
df = df[['Breed', 'min_height', 'max_height', 'min_weight', 'max_weight', 'min_expectancy', 'max_expectancy', 'grooming_frequency_value', 'shedding_value', 'energy_level_value', 'trainability_value', 'demeanor_value', 'Herding Group', 'Toy Group', 'Non-Sporting Group', 'Terrier Group', 'Foundation Stock Service', 'Hound Group', 'Working Group', 'Sporting Group']]
df.head()

,Breed,min_height,max_height,min_weight,max_weight,min_expectancy,max_expectancy,grooming_frequency_value,shedding_value,energy_level_value,trainability_value,demeanor_value,Herding Group,Toy Group,Non-Sporting Group,Terrier Group,Foundation Stock Service,Hound Group,Working Group,Sporting Group
0,Affenpinscher,22.86,29.21,3.175147,4.535924,12.0,15.0,0.6,0.6,0.6,0.8,1.0,0,1,0,0,0,0,0,0
1,Afghan Hound,63.50,68.58,22.679619,27.215542,12.0,15.0,0.8,0.2,0.8,0.2,0.2,0,0,0,0,0,1,0,0
2,Airedale Terrier,58.42,58.42,22.679619,31.751466,11.0,14.0,0.6,0.4,0.6,1.0,0.8,0,0,0,1,0,0,0,0
3,Akita,60.96,71.12,31.751466,58.967008,10.0,13.0,0.8,0.6,0.8,1.0,0.6,0,0,0,0,0,0,1,0
4,Alaskan Malamute,58.42,63.50,34.019428,38.555351,10.0,14.0,0.6,0.6,0.8,0.4,0.8,0,0,0,0,0,0,1,0

In [62]:
df_ind = df.set_index('Breed')
df_ind.head()

,min_height,max_height,min_weight,max_weight,min_expectancy,max_expectancy,grooming_frequency_value,shedding_value,energy_level_value,trainability_value,demeanor_value,Herding Group,Toy Group,Non-Sporting Group,Terrier Group,Foundation Stock Service,Hound Group,Working Group,Sporting Group
Breed,,,,,,,,,,,,,,,,,,,
Affenpinscher,22.86,29.21,3.175147,4.535924,12.0,15.0,0.6,0.6,0.6,0.8,1.0,0,1,0,0,0,0,0,0
Afghan Hound,63.50,68.58,22.679619,27.215542,12.0,15.0,0.8,0.2,0.8,0.2,0.2,0,0,0,0,0,1,0,0
Airedale Terrier,58.42,58.42,22.679619,31.751466,11.0,14.0,0.6,0.4,0.6,1.0,0.8,0,0,0,1,0,0,0,0
Akita,60.96,71.12,31.751466,58.967008,10.0,13.0,0.8,0.6,0.8,1.0,0.6,0,0,0,0,0,0,1,0
Alaskan Malamute,58.42,63.50,34.019428,38.555351,10.0,14.0,0.6,0.6,0.8,0.4,0.8,0,0,0,0,0,0,1,0

In [63]:
from scipy.sparse import lil_matrix
import scipy.spatial.distance

In [64]:
queries = ['Bernese Mountain Dog', 'Newfoundland', 'Samoyed']
for q in queries:
  print(q)
  dog_data = df_ind.loc[q]
  distances = scipy.spatial.distance.cdist(df_ind, [dog_data], metric = "euclidean")[:,0]
  query_distances = list(zip(df.index, distances))

  for dog, characteristics in sorted(query_distances, key = lambda x: x[1], reverse = False)[:10]:
    print(df['Breed'].iloc[dog], characteristics)

  print("\n")

Bernese Mountain Dog
Beauceron 5.160935085142554
Akita 8.52275533953069
American Bulldog 13.440772388137539
Alaskan Malamute 16.00367411762219
Bergamasco Sheepdog 20.153665251713026
Anatolian Shepherd Dog 20.3900760300676
Belgian Sheepdog 22.84540730260532
Belgian Tervuren 22.84540730260532
American Foxhound 23.042986590494525
Belgian Malinois 23.353330190996548


Newfoundland
Anatolian Shepherd Dog 10.417370841478512
Akita 17.422865710292378
Beauceron 23.437243765117557
Alaskan Malamute 33.63386812266397
American Bulldog 33.77929478691184
Bergamasco Sheepdog 39.42035852891696
American Foxhound 43.36545520316528
Belgian Sheepdog 43.99971851906755
Belgian Tervuren 43.99971851906755
Belgian Malinois 44.05761368979083


Samoyed
Barbet 2.9549280871114267
Australian Shepherd 4.080214571938024
Appenzeller Sennenhund 7.599396778410114
Bearded Collie 8.014793049383329
Bavarian Mountain Scent Hound 9.392525229703194
American Leopard Hound 11.575696729151002
Belgian Sheepdog 11.910336167566538
Belgian Tervuren 11.910336167566538
Australian Cattle Dog 12.552743069843292
Airedale Terrier 12.637840382381567